flows.json
[{"id":"d1a6b8ca.d25ca8","type":"tab","label":"basic web class","disabled":false,"info":""},{"id":"747784a8.f84b2c","type":"ibmiot in","z":"d1a6b8ca.d25ca8","authentication":"apiKey","apiKey":"5345ea77.bc3e64","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"SmartAgri","applicationId":"","deviceType":"IotDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":60,"wires":[["2bf013ee.9a1bec","c0c21ec5.23a2c","7dea88c8.1b81e8"]]},{"id":"9ceb8185.13359","type":"debug","z":"d1a6b8ca.d25ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":60,"wires":[]},{"id":"2bf013ee.9a1bec","type":"function","z":"d1a6b8ca.d25ca8","name":"Temp","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["9ceb8185.13359","fa6a7823.3c9db8","4fa7c9a3.de6f88"]]},{"id":"c0c21ec5.23a2c","type":"function","z":"d1a6b8ca.d25ca8","name":"humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["9ceb8185.13359","ca406b93.c261d8","6462706f.b5157"]]},{"id":"7dea88c8.1b81e8","type":"function","z":"d1a6b8ca.d25ca8","name":"soil moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["9ceb8185.13359","9c37de9.1631c2","d5451da5.c8017","47cdd81b.004238","afb72ece.acdb1"]]},{"id":"ca406b93.c261d8","type":"ui_gauge","z":"d1a6b8ca.d25ca8","name":"","group":"62345bff.e24594","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":200,"wires":[]},{"id":"6462706f.b5157","type":"ui_chart","z":"d1a6b8ca.d25ca8","name":"","group":"62345bff.e24594","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#81d8ee","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":240,"wires":[[]]},{"id":"9c37de9.1631c2","type":"ui_gauge","z":"d1a6b8ca.d25ca8","name":"","group":"23fc6aaf.ac0636","order":0,"width":0,"height":0,"gtype":"wave","title":"Soil Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":280,"wires":[]},{"id":"d5451da5.c8017","type":"ui_chart","z":"d1a6b8ca.d25ca8","name":"","group":"23fc6aaf.ac0636","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":320,"wires":[[]]},{"id":"4dfbf362.522a2c","type":"ibmiot out","z":"d1a6b8ca.d25ca8","authentication":"apiKey","apiKey":"775f7049.24b6e","outputType":"cmd","deviceId":"Controls","deviceType":"IotDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":340,"wires":[]},{"id":"84cfd27f.d5223","type":"ui_button","z":"d1a6b8ca.d25ca8","name":"","group":"703c6dac.725614","order":2,"width":0,"height":0,"passthru":true,"label":"MotorOn","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":160,"y":360,"wires":[["4dfbf362.522a2c","fa2477f8.40c628","6079f30b.2b5a7c"]]},{"id":"cf4024db.7b7f98","type":"ui_button","z":"d1a6b8ca.d25ca8","name":"","group":"703c6dac.725614","order":3,"width":0,"height":0,"passthru":true,"label":"MotorOff","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":160,"y":400,"wires":[["4dfbf362.522a2c","fa2477f8.40c628","f86b19ea.ed47c8","6079f30b.2b5a7c"]]},{"id":"fa2477f8.40c628","type":"debug","z":"d1a6b8ca.d25ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":400,"wires":[]},{"id":"c7e33406.182588","type":"http request","z":"d1a6b8ca.d25ca8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad, IN&appid=3cb700de235a7a0e808480316cb45c1a","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":560,"wires":[["d0d80aee.7ffc68","97e3f1a4.a1287","56282f79.cbcc6","ee6f2e98.b5c7f","d235c973.9b0548","b7a57e6.523208","da64f654.7af348","fb9e8c7e.76691","131cb9f5.655f86","ccfad98b.a51f18","fa71937.828fc7","e79a9d06.87815","b80f2536.e01f28","be1a9423.5dbff8","666941d9.18d36","b8970fee.33c3c"]]},{"id":"d0d80aee.7ffc68","type":"debug","z":"d1a6b8ca.d25ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":560,"wires":[]},{"id":"14768d24.548513","type":"inject","z":"d1a6b8ca.d25ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 8-19 * * *","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["c7e33406.182588"]]},{"id":"97e3f1a4.a1287","type":"function","z":"d1a6b8ca.d25ca8","name":"temperature","func":"msg.payload = msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":600,"wires":[["97185bdc.532918"]]},{"id":"56282f79.cbcc6","type":"function","z":"d1a6b8ca.d25ca8","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":800,"wires":[["7b6274bc.7ee35c"]]},{"id":"7b6274bc.7ee35c","type":"ui_gauge","z":"d1a6b8ca.d25ca8","name":"","group":"5ae11d35.20b734","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"bars","format":"{{value}}","min":"800","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":800,"wires":[]},{"id":"97185bdc.532918","type":"ui_gauge","z":"d1a6b8ca.d25ca8","name":"actual","group":"3decdb4.bab0224","order":1,"width":0,"height":0,"gtype":"gage","title":"Actual Temperature","label":"K","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":600,"wires":[]},{"id":"ee6f2e98.b5c7f","type":"function","z":"d1a6b8ca.d25ca8","name":"temp felt","func":"msg.payload=msg.payload.main.feels_like\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":640,"wires":[["561d125c.222c3c"]]},{"id":"561d125c.222c3c","type":"ui_gauge","z":"d1a6b8ca.d25ca8","name":"feels like","group":"3decdb4.bab0224","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature Feels Like","label":"K","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":640,"wires":[]},{"id":"d235c973.9b0548","type":"function","z":"d1a6b8ca.d25ca8","name":"sunrise","func":"msg.payload=msg.payload.sys.sunrise\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":840,"wires":[["a007ff10.f763d"]]},{"id":"a007ff10.f763d","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"e7ac029c.4a60c","order":3,"width":0,"height":0,"name":"sunrise","label":"Sun Rise : ","format":"{{msg.payload}}","layout":"row-center","x":780,"y":840,"wires":[]},{"id":"6296a446.de1fdc","type":"ui_chart","z":"d1a6b8ca.d25ca8","name":"","group":"bae4f917.f8aff8","order":1,"width":0,"height":0,"label":"Wind Speed Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"20","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":920,"wires":[[]]},{"id":"b7a57e6.523208","type":"function","z":"d1a6b8ca.d25ca8","name":"wind speed","func":"msg.payload=msg.payload.wind.speed\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":920,"wires":[["6296a446.de1fdc","e7c7acf6.bdf01"]]},{"id":"fa6a7823.3c9db8","type":"ui_gauge","z":"d1a6b8ca.d25ca8","name":"temperature","group":"127f05f5.b1618a","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":120,"wires":[]},{"id":"4fa7c9a3.de6f88","type":"ui_chart","z":"d1a6b8ca.d25ca8","name":"","group":"127f05f5.b1618a","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":160,"wires":[[]]},{"id":"f86b19ea.ed47c8","type":"ui_toast","z":"d1a6b8ca.d25ca8","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"motor status changed","name":"status","x":430,"y":440,"wires":[]},{"id":"47cdd81b.004238","type":"function","z":"d1a6b8ca.d25ca8","name":"on control","func":"if (msg.payload <= 30)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["84cfd27f.d5223"]]},{"id":"afb72ece.acdb1","type":"function","z":"d1a6b8ca.d25ca8","name":"off control","func":"if(msg.payload >= 70)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":130,"y":240,"wires":[["cf4024db.7b7f98"]]},{"id":"131cb9f5.655f86","type":"function","z":"d1a6b8ca.d25ca8","name":"weather","func":"msg.payload=msg.payload.weather[0].main\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1000,"wires":[["b674c1ef.cac9f"]]},{"id":"ccfad98b.a51f18","type":"function","z":"d1a6b8ca.d25ca8","name":"weather desc","func":"msg.payload=msg.payload.weather[0].description\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1040,"wires":[["2216e295.4ffcbe"]]},{"id":"da64f654.7af348","type":"function","z":"d1a6b8ca.d25ca8","name":"humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":760,"wires":[["daa2e24a.08d49"]]},{"id":"fa71937.828fc7","type":"function","z":"d1a6b8ca.d25ca8","name":"visibility","func":"msg.payload=msg.payload.visibility\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1080,"wires":[["ae505d43.519f1"]]},{"id":"fb9e8c7e.76691","type":"function","z":"d1a6b8ca.d25ca8","name":"wind direc","func":"msg.payload=msg.payload.wind.deg\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":960,"wires":[["fc0a9cc7.3b8c8"]]},{"id":"be1a9423.5dbff8","type":"function","z":"d1a6b8ca.d25ca8","name":"sunset","func":"msg.payload=msg.payload.sys.sunset\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":880,"wires":[["e4c38d15.042f4"]]},{"id":"e79a9d06.87815","type":"function","z":"d1a6b8ca.d25ca8","name":"lon","func":"msg.payload=msg.payload.coord.lon\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1120,"wires":[["a92dd035.4a9f4"]]},{"id":"b80f2536.e01f28","type":"function","z":"d1a6b8ca.d25ca8","name":"lat","func":"msg.payload=msg.payload.coord.lat\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1160,"wires":[["10dbe69a.125f29"]]},{"id":"daa2e24a.08d49","type":"ui_gauge","z":"d1a6b8ca.d25ca8","name":"humidity","group":"5ae11d35.20b734","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":760,"wires":[]},{"id":"e4c38d15.042f4","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"e7ac029c.4a60c","order":4,"width":0,"height":0,"name":"sunset","label":"Sun Set : ","format":"{{msg.payload}}","layout":"row-center","x":770,"y":880,"wires":[]},{"id":"e7c7acf6.bdf01","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"bae4f917.f8aff8","order":2,"width":0,"height":0,"name":"speed","label":"Wind Speed : ","format":"{{msg.payload}}","layout":"row-center","x":910,"y":940,"wires":[]},{"id":"fc0a9cc7.3b8c8","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"bae4f917.f8aff8","order":3,"width":0,"height":0,"name":"direction","label":"Wind Direction : ","format":"{{msg.payload}}","layout":"row-center","x":780,"y":960,"wires":[]},{"id":"a92dd035.4a9f4","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"e7ac029c.4a60c","order":2,"width":0,"height":0,"name":"","label":"Longitude : ","format":"{{msg.payload}}","layout":"row-center","x":790,"y":1120,"wires":[]},{"id":"10dbe69a.125f29","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"e7ac029c.4a60c","order":1,"width":0,"height":0,"name":"","label":"Latitude : ","format":"{{msg.payload}}","layout":"row-center","x":780,"y":1160,"wires":[]},{"id":"666941d9.18d36","type":"function","z":"d1a6b8ca.d25ca8","name":"min temp","func":"msg.payload=msg.payload.main.temp_min\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":680,"wires":[["f5f08821.733c78"]]},{"id":"b8970fee.33c3c","type":"function","z":"d1a6b8ca.d25ca8","name":"max temp","func":"msg.payload=msg.payload.main.temp_max\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":720,"wires":[["9cd1680.21aee98"]]},{"id":"f5f08821.733c78","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"e7ac029c.4a60c","order":6,"width":0,"height":0,"name":"","label":"Min Temperature : ","format":"{{msg.payload}}","layout":"row-center","x":810,"y":680,"wires":[]},{"id":"9cd1680.21aee98","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"e7ac029c.4a60c","order":5,"width":0,"height":0,"name":"","label":"Max Temperature : ","format":"{{msg.payload}}","layout":"row-center","x":810,"y":720,"wires":[]},{"id":"b674c1ef.cac9f","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"e7ac029c.4a60c","order":8,"width":0,"height":0,"name":"","label":"Weather Condition : ","format":"{{msg.payload}}","layout":"row-center","x":810,"y":1000,"wires":[]},{"id":"2216e295.4ffcbe","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"e7ac029c.4a60c","order":9,"width":0,"height":0,"name":"","label":"Description : ","format":"{{msg.payload}}","layout":"row-center","x":790,"y":1040,"wires":[]},{"id":"6079f30b.2b5a7c","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"703c6dac.725614","order":1,"width":0,"height":0,"name":"","label":"Motor status","format":"{{msg.payload}}","layout":"row-center","x":450,"y":480,"wires":[]},{"id":"ae505d43.519f1","type":"ui_text","z":"d1a6b8ca.d25ca8","group":"e7ac029c.4a60c","order":7,"width":0,"height":0,"name":"","label":"Visibility : ","format":"{{msg.payload}}","layout":"row-center","x":790,"y":1080,"wires":[]},{"id":"5345ea77.bc3e64","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"62345bff.e24594","type":"ui_group","z":"","name":"Humidity","tab":"8894e25e.19f17","order":2,"disp":true,"width":"7","collapse":false},{"id":"23fc6aaf.ac0636","type":"ui_group","z":"","name":"Soil Moisture","tab":"8894e25e.19f17","order":3,"disp":true,"width":"7","collapse":false},{"id":"775f7049.24b6e","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"703c6dac.725614","type":"ui_group","z":"","name":"Motor control","tab":"8894e25e.19f17","order":4,"disp":true,"width":"6","collapse":false},{"id":"5ae11d35.20b734","type":"ui_group","z":"","name":"humidity and pressure","tab":"994c3401.6ec148","order":3,"disp":false,"width":"7","collapse":false},{"id":"3decdb4.bab0224","type":"ui_group","z":"","name":"temperature","tab":"994c3401.6ec148","order":2,"disp":false,"width":"7","collapse":false},{"id":"e7ac029c.4a60c","type":"ui_group","z":"","name":"Details","tab":"994c3401.6ec148","order":1,"disp":true,"width":"5","collapse":false},{"id":"bae4f917.f8aff8","type":"ui_group","z":"","name":"wind","tab":"994c3401.6ec148","order":4,"disp":false,"width":"7","collapse":false},{"id":"127f05f5.b1618a","type":"ui_group","z":"","name":"temperature","tab":"8894e25e.19f17","order":1,"disp":true,"width":"7","collapse":false},{"id":"8894e25e.19f17","type":"ui_tab","z":"","name":"Crop Updates","icon":"dashboard","disabled":false,"hidden":false},{"id":"994c3401.6ec148","type":"ui_tab","z":"","name":"Weather Forecast","icon":"dashboard","disabled":false,"hidden":false}]